<div class="row">
    <div class="col-md-4">
        <h3> select File</h3>
        <div appNgDropFiles [files]="files" class="well drop-zone" [ngClass]="{'file-over': isOverElement}" (mouseOver)="isOverElement = $event">
            <h4>drag Image</h4>
            <img src="assets/drop-images.png">
        </div>
    </div>
    <div class="col-md-8">
        <h4> Load Files </h4>
        <button class="btn btn-success" [disabled]="files.length === 0" (click)="loadImages()"> Load to Firebase</button>
        <button (click)="clearFiles()" class="btn btn-danger"> Clear </button>

        <table class="table">
            <thead class="thead=dark">
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files">
                    <td [ngClass]="{ 'text-green': file.progress >= 100 }"> {{ file.fileName }} </td>
                    <td> {{ file.file.size / 1024 / 1024 | number: '.2-2'}} </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': file.progress + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>